
h1 {
	color: #fdc78d;
    font-family: arial;
    background: #6b1f7b;
    text-align: center;
    padding: 40px;
    width: 100%;
}

h2 {
	color: purple;
	text-align: center;
	padding: 10px;
	color:#e45563;
}



.container{
	display: flex;
	flex-flow: column;
	padding: 20px;
	margin-right: 20px;
	font-family: pt serif;
}


body {
	width:  100%;
	background: black;
	padding: 2%;
	align-self: center;
	margin: 10px;
}

.set-1 {
	background-color: gray;
	float: left;
	width: 47%;
	height: auto;
	padding: 10px;
	font-size: 10px;
	overflow: hidden;
	border: 5px gray;
}

.set-1 img {
	width: 90%
	height: auto;
}

.set-2 {
	background-color: gray;
	float: right;
	width: 47%;
	height: auto;
	padding: 10px;
	font-size: 10px;
	overflow: hidden;
	border: 5px gray;
}
.set-2 img {
	width: 90%
	height: auto;
}

.set-3 {
	margin: 10px;
	background-color: #fdc78d;
	color: black;
	font-size: 12px;
	width: 100%;
	height: auto;
	clear: both;
	align-self: center;
	padding: 10px;
}


.image {
	font-size: 10px;
	font-style: italic;
	text-align: center;
	display: flex;
	flex-flow: wrap;
	text-align: right;
	max-width: 100%;
	height: auto;
	color: #6b1f7b;
	font: arial;
}

.image img{
	max-width: 100%;
	height: auto;
}

.emphasis {
	font-weight: 700;
	font-size: 13px;
}

.maps {
	display: table;
	margin: 0 auto;
}


/*


/*.box_wrapper {
	padding:  10px;
}

.box_wrapper {
	padding_bottom:  10px;
}

.box_wrapper {
	padding:  10px 10px 10px 10px;
}

.box_wrapper {
	border: 1px solid #ffffff;
}

.box_wrapper {
	border-top:  5px dotted #ffffff;
}

.box_wrapper {
	border-top:  5px dotted #ffffff;
	border-bottom:  15px dotted #ffffff;
}

.box_wrapper {
	margin:  15px;
}

.box_wrapper {
	margin-bottom:  10px;
}

.box_wrapper {
	margin:  10px 15px 10px 15px;
}


*/
